[submodule "libs/gvr-unity-sdk"]
	path = libs/gvr-unity-sdk
	url = https://github.com/googlevr/gvr-unity-sdk.git
[submodule "gvr-unity-sdk"]
	path = gvr-unity-sdk
	url = https://github.com/googlevr/gvr-unity-sdk.git
